@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Italiana&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*
*{
font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: -25px 0 0 -25px;
}
*/

html{
	scroll-behavior: smooth;

}

main{
	float: center;
}

body{
	background-color: whitesmoke;
	padding: 0px;
	margin: 0px;
}

ul{
	list-style:none;
}

.Navegacion{
	width: 100%;
	height: 50px;

}


.Inicio-Sesion{
		width: 15px;
    height: 15px; 
    background-color: red;
    border-radius: 50%;
    display: inline-table;
}

.menu {
    list-style: none;
    padding: 1%; 
    margin: 0;

}

.menu li {
    display: inline;
    float: inline-start;
}

.menu li a {
    text-decoration: none;
    padding: 10px; 
    margin-right: 10px;
    color: #333; 
    	font-family: 'Playfair Display';
		font-weight: 30px;
}





/*Casa*/

.Casa-Contenedor{
	width: 100%;
	height: 600px;
	border-radius: 21px;
	background: url("https://fluent2websitecdn.azureedge.net/cdn/img_hero_fluent_glow.IBrS9qjm.svg");
	position: relative;
	background-color: #EAE7EC;
}



.Texto-Contenedor-Titulo{
	width: 100px;
	height: 30px;
	position: absolute;
}

.Titulo-Kuezis-Rebirth{
	font-size: 70px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin: 90px 0 0 150px;
  	font-family: "Italiana", sans-serif;
  	font-weight: 300;
  	font-style: normal;
}

/* Sobre */

.contenedor-sobre-nosotros{
	width: 100%;
	height: 300px;
	position: relative;
}

.informacion-sobre-nosotros{
	width: 90%;
	height: 200px;
	float: right;
	margin: 1%;
	margin-left: 3%;
	position: absolute;
	font-family: 'Playfair Display';
	font-weight: 30px;
}

.contenedor-info-1{
	width: 30%;
	height: 80%;
	position: relative;

}


h1{
	font-family: 'Playfair Display';
	font-weight: 30px;
}

.info-1,.info-2,.info-3{
	width: 27%;
	float: inline-start;
	position: sticky;
	margin: 1%;


}

.linea-1,.linea-2,.linea-3{
	width: 70%;
	float: left;
}



/*Carreras*/

.Carreras-CU{
	width: 980px;
	height: 572px;
}

.Contenedor-Carreras{
	width: 940px;
	height: 500px;
	

}

.Texto-Carreras{
	width: 916px;
	height: 32px;
}

.Carrera-Programacion,.Carrera-General,.Carrera-Quimico{
	width:280px;
	height:500px;
	float: inline-start;
	border-radius: 21px;
	background: linear-gradient(Transparent, white);
	transform: scale(1.03) perspective(200px);
	display: flex;
	transition: all 0.3s ease;
	border: 1px solid whitesmoke;

	

}

.Carrera-Programacion:hover,.Carrera-General:hover,.Carrera-Quimico:hover{
	transform: scale(1.1) perspective(2500px) rotateX(5deg);

    }

.Carrera-Programacion{
 background-image: linear-gradient(transparent 40%, white 100%), url("img/carrera-general.webp");

}

.Carrera-General{
	margin-right: 38px;
	margin-left: 38px;
	background-image: linear-gradient(transparent 40%, white 100%),url("img/carrera-programacion.webp");
}

.Carrera-Quimico{
	background-image: linear-gradient(transparent 40%, white 100%),url("img/carrera-quimico.webp");
}


/* Clubes */

.Clubes{
	width:995px;
	height:659.3px;
}

.contenedor_clubes{
	width:980px;
	height:459.3px;
	/* background: url("https://i.pinimg.com/564x/aa/fb/56/aafb569a884f58b9cc097332feb13ab8.jpg"); */
	border-radius: 21px;

}

.titulo_clubes{
	width: 916px;
	height: 32px;
}

.clubes_CU{
	width: 916px;
	height: 387.3px;


}

.club_futbol,.club_basquetball,.club_voleibol,.club_pintura{
	width: 442px;
	height: 146px;
	border-radius: 21px;
	float: inline-start;
	
	
}

.club_futbol{
	background-color: green;
	margin-right: 32px;
}

.club_basquetball{
	background-color: yellowgreen;
}

.club_voleibol{
	background-color: red;
	margin-top: 32px;
		margin-right: 32px;

}

.club_pintura{
	background-color: coral;
	margin-top: 32px;
}

/* Servicios */

.contenedor-servicio-1,.contenedor-servicio-2,.contenedor-servicio-3{
	width: 100%;
	height: 600px;
	/* background: url("https://i.pinimg.com/564x/24/4d/2f/244d2f9b1e0c409c5689d4da426bd464.jpg"); */

}

.contenedor-servicio-2{
	/* background: url("https://i.pinimg.com/564x/0b/50/26/0b502602daf2bc3605261b4686ad35ee.jpg"); */
}

.contenedor-servicio-3{
	/* background: url("https://i.pinimg.com/564x/ff/78/83/ff7883b3faf5453cac0b746f1e932e83.jpg"); */
}

.contenedor-imagen-1,.contenedor-imagen-2,.contenedor-imagen-3{
	width: 550px;
	height: 550px;
	border-radius: 21px;
	background: linear-gradient(70deg, #D1A5D9, #B7DDF2);
	float: center;
	margin: 2%;
	float: right;
}

.contenedor-imagen-2{
	float: inline-start;
}

.foto-servicio-1,.foto-servicio-2,.foto-servicio-3{
	background: url("https://i.pinimg.com/564x/d4/7c/ec/d47cecd98e1a3bd80ff2f62b0bf927bd.jpg");
	width: 420px;
	height: 420px;
	float: center;
	border-radius: 21px;
	position: absolute;
	margin: 5%;
}

.informacion-servicio-1,.informacion-servicio-2,.informacion-servicio-3{
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 70px 0 0 170px;
  
  padding: 20px 10px;
  border-radius: 21px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.089);
}
.informacion-servicio-2{
	float: right;
	margin: 70px 0 0 800px;
}

.linea-servicio-1,.linea-servicio-2,.linea-servicio-3{
	width: 170px;
}
/*

.info-ser-1,.info-ser-2,.info-ser-3{
	top:10%;
	left: 10%;
	float: inline-start;
}

*/

.Sobre-nosotros,.Proyecto,.Carreras,.Clubes,.Servicios{
	margin: 2%;
}


#Inicio-Sesion{
	display: none;
}

.fondo{
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.caja{
	width: 30%;
	height: 500px;
	background-color: red;
	border-radius: 21px;

}


#username,#password{
	border-radius: 21px;
}