body{
    margin: 1%;
    padding: 0%;
    background-color: whitesmoke;
}

h1,h2,h3,h4,h5,h6{
		font-family: helvetica,arial, sans-serif;
        font-weight: 100;
}

.main{
    width: 100%
}

/* ---------------------------------------- Principal --------------------------------------*/

    /* --------- Izquierda --------- */

.principal{
    width: 100%;
    height: 600px;
    position: relative;
    background-color: whitesmoke;
    display: flex;
}


.foto_principal{
    width: 30%;
    height: 600px;
    border-radius: 21px;   
    background: url('imagenes/6_1.jpg') no-repeat; 
    position: absolute;
    display: flex;
   
}

.cont_info_foto{
    margin: 3%;
    padding: 5%;
    width: 45%;
    position: absolute;
    top: 80%;
    backdrop-filter: blur(30px);
    background-color: rgba(210, 210, 210, 0.01);
    border-radius: 14px;
}

.sueños,.resaltar{
    font-size: 16px;
    color: white;
}

.resaltar {
    color: rgb(255, 255, 255);
}






    /* --------- Derecha --------- */


.titulo{
    font-size: 70px;
}


.cont_derecha{
    width: 70%;
}

.cont_titulo{
    position: absolute;
    top: 20%;
    transform: translate(180%, 0%);
    
}

.cont_frase{
   width: 40%;
    position: absolute;
    top: 60%;
    transform: translate(80%, 0%);

}

.subtitulo{
    font-size: 60px;
}

.mejor{
    color: #Cc24d4;
}

.inversion{
color: #28d6a2;
}

.login{
    width: 12%;
    height: 5%;
    border: 1px solid #000;
    float: right;
    cursor: pointer;
    font-size: 14px;
    background-color: whitesmoke;
    border-radius: 21px;
    
    position: absolute;
}



/* -----------------------------------------------------------------------------------*/
/* ---------------------------------------- Frase --------------------------------------*/


.cont_subfrase{
    width: 100%;
    height: 500px;
   
    
    
}

.cont{
    width: 60%;
    float: center;
}

.frase{
    font-size: 60px;
}


.engresados{
    color: #Cc24d4;
}

.ingresados{
    color: #28d6a2;
}

/* -----------------------------------------------------------------------------------*/
/* ------------- Servicios -----------*/

.servicios{
    width: 100%;
    height: 700px;
    position: relative;
    background-color: whitesmoke;
    /* padding: 1%; 
    display: flex; */
    margin-top: 1%;
   
}


.servicio_principal{
    width: 100%;
    height: 450px;
}

.servicio_izquierda{
    width: 70%;
    height: 450px;
    float: inline-start;
}

.servicio_derecha{
    width: 30%;
    height: 450px;
    background: url('imagenes/2_1.jpg') no-repeat;
    float: inline-start;
    
}


.frase_servicio{
    width: 40%;
    float: center;
}
.frase_servicio h3{
    font-size: 45px;
}

.cont_serv_2,.cont_serv_3,.cont_serv_4,.cont_serv_5{
    width: 23%;
    height: 200px;
    background-color: red;
    float: inline-start;
    margin: 1%;
    border-radius: 14px;
}



/* -------------------------------------- Instalaciones ------------------------------------*/


.instalaciones{
    width: 100%;
    display: flex;
    position: relative;
    
}

.img_inst_1,.img_inst_2,.img_inst_3,.img_inst_4{
    width: 30%;
    height: 370px;
    display: flex;
    background-color: rgb(71, 200, 57);
    background: url('imagenes/s_3.jpeg') no-repeat;
    margin: 1%;
    border-radius: 21px;
    background-position: 0px -150px; 
    float:inline-start;   

}

.burbuja_1,.burbuja_2,.burbuja_3,.burbuja_4{
    background-color: whitesmoke;
    width: 50%;
    height: 70px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.inst_text{
    font-size: 25px;
}

/* ------------------------------------- INFORMACION --------------------------- */
.informacion {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_administrativa {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 20px;
}

.cont_foto {
    width: 50%;
    height: 550px;
    border-radius: 21px;
    background: url('imagenes/5_1.jpg') no-repeat center center;
    background-size: cover;
}

.info_derecha_admin {
    width: 50%;
    padding-left: 20px;
}

.info_derecha_admin h4 {
    font-size: 20px;
    color: black;
}

.cont_docente {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.docente_1, .docente_2 {
    width: 45%;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 21px;
    padding: 20px;
}

.foto_docente_1, .foto_docente_2 {
    width: 50%;
    height: 450px;
    background: url('imagenes/6_1.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 21px;
}

.nombre_docente_1, .cargos_docente_1, .nombre_docente_2, .cargos_docente_2 {
    font-size: 19px;
    width: 50%;
    padding-left: 20px;
}

/* ------------------------------ Proyecto ------------------------------------ */
.proyecto{
    width: 100%;
  
}

.actividad_1{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: whitesmoke;
}

.imagen_act_1,.imagen_act_2{
    width: 30%;
    height: 400px;
    background: url('imagenes/4_1.jpg') no-repeat;
    border-radius: 21px;
    float: inline-start;
}

.text_act_1{
    float: inline-start;
}

.imagen_act_2,.text_act_2{
    float: inline-end;
}

.text_act_2{
    float: inline-start;
}


.titulo_act_1,.titulo_act_2{
    font-size: 30px;
}

.info_act_1,.info_act_2{
    font-size: 20px;
}


.nombre_docente_1, .nombre_docente_2{
    font-size: 25px;
}


/* ------------ Mapa -----------*/

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map { height: 180px; }
  /* 
   * Optional: Makes the sample page fill the window. 
   */
