.titulo{

    text-align: center; /*Centrar el texto*/
    font-family: "sen"; /*Tipo de fuente*/
    font-size: 40px;  /*Tamaño de la fuente*/
    color: #f9f9f9; /*Color del texto*/
    background-color: #83072d; /*Color de fondo*/
    margin: 0px;
    padding: 40px;

}

.cont_form{

    height: 200px;
    width: 1000px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px;
    border: 2px solid #222222;
}

.label_seleccionar{

    font-family: "sen"; /*Tipo de fuente*/
    text-align: center; /*Centrar el texto*/
    font-size: 20px; /*Tamaño de la fuente*/
    color: #222222; /*Color del texto*/
    translate: 450px 210px; /*Desplazar el texto*/
    background: #f9f9f9; /*Color de fondo*/
    width: 400px; /*Ancho de la caja*/
    border-radius: 10px;
    
}

/*---------------------------- Grados -----------------------------*/

.cont_grado{

    display: flex; /*Centrar el texto*/
    flex-direction: row-reverse;
    justify-content: right; /*Centrar el texto*/
    translate: -150px 60px; /*Desplazar el texto*/
    width: 500px;

}

.label_grado{

    font-family: "sen"; /*Tipo de fuente*/
    text-align: center; /*Centrar el texto*/
    font-size: 20px; /*Tamaño de la fuente*/
    color: #222222; /*Color del texto*/
    translate: -200px -30px; /*Desplazar el texto*/
    background: #f9f9f9; /*Color de fondo*/
    width: 80px; /*Ancho de la caja*/ 
    border-radius: 10px;
    
}

.border_grado{

    display: flex; /*Centrar el texto*/
    justify-content: center; /*Centrar el texto*/
    align-items: center; /*Centrar el texto*/
    padding: 5px; /*Espacio interno de la caja*/
    border: 2px solid #222222; /*Borde de la caja*/
    border-radius: 8px; /*Borde redondeado de la caja*/
    outline: none; /*Borrador de la caja*/
    color: #4b4b4b; /*Color del texto*/
    font-family: inherit; /*Tipo de fuente*/
    font-size: 23px; /*Tamaño de la fuente*/
    background: #f9f9f9; /*Color de fondo*/
    color: rgba(0, 0, 0, 0.75); /*Color del borde*/
    padding: 3px 3px 3px 15px; /*Espacio interno del borde*/
    width: 190px; /*Ancho de la caja*/
    height: 70px; /*Alto de la caja*/
}

/*---------------------------- Grado 1 -----------------------------*/

.input_grado_1{

    appearance: none; /*Centrar el texto*/
    background-color: #222222; /*Color de fondo*/
    border: 1px solid #222222; /*Borde de la caja*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    cursor: pointer; /*Centrar el texto*/
    display: inline-block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    margin: 0 10px 10px 0; /*Espacio interno de la caja*/
    padding: 0; /*Espacio interno de la caja*/
    position: relative; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/
    translate: -12px 6px;  /*Desplazar el texto*/

}

.input_grado_1:after{

    content: "1°"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    width: 50px;  /*Ancho de la caja*/

}

.input_grado_1:checked::before{

    background-color: #83072d; /*Color de fondo*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    content: "1°"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    position: absolute; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/

}

/*---------------------------- Grado 2 -----------------------------*/

.input_grado_2{

    appearance: none; /*Centrar el texto*/
    background-color: #222222; /*Color de fondo*/
    border: 1px solid #222222; /*Borde de la caja*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    cursor: pointer; /*Centrar el texto*/
    display: inline-block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    margin: 0 10px 10px 0; /*Espacio interno de la caja*/
    padding: 0; /*Espacio interno de la caja*/
    position: relative; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/
    translate: -5px 6px; /*Desplazar el texto*/

}

.input_grado_2:after{

    content: "2°"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    width: 50px;  /*Ancho de la caja*/

}

.input_grado_2:checked::before{

    background-color: #83072d; /*Color de fondo*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    content: "2°"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    position: absolute; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/

}

/*---------------------------- Grado 3 -----------------------------*/

.input_grado_3{

    appearance: none; /*Centrar el texto*/
    background-color: #222222; /*Color de fondo*/
    border: 1px solid #222222; /*Borde de la caja*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    cursor: pointer; /*Centrar el texto*/
    display: inline-block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    margin: 0 10px 10px 0; /*Espacio interno de la caja*/
    padding: 0; /*Espacio interno de la caja*/
    position: relative; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/
    translate: 2px 6px; /*Desplazar el texto*/

}

.input_grado_3:after{

    content: "3°"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    width: 50px; /*Ancho de la caja*/

}   

.input_grado_3:checked::before{

    background-color: #83072d; /*Color de fondo*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    content: "3°"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block;  /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    position: absolute; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/

}

/*---------------------------- Grupos ----------------------------*/

.cont_grupo{

    display: flex; /*Centrar el texto*/
    flex-direction: row-reverse;
    justify-content: left; /*Centrar el texto*/
    translate: 390px -20px; /*Desplazar el texto*/
    width: 800px;

}

.label_grupo{

    font-family: "sen"; /*Tipo de fuente*/
    text-align: center; /*Centrar el texto*/
    font-size: 20px; /*Tamaño de la fuente*/
    color: #222222; /*Color del texto*/
    translate: -195px -30px; /*Desplazar el texto*/
    background: #f9f9f9; /*Color de fondo*/
    width: 110px; /*Ancho de la caja*/
    border-radius: 10px;
    
}

.border_grupo{

    display: flex; /*Centrar el texto*/
    justify-content: center; /*Centrar el texto*/
    align-items: center; /*Centrar el texto*/
    padding: 5px; /*Espacio interno de la caja*/
    border: 2px solid #222222; /*Borde de la caja*/
    border-radius: 8px; /*Borde redondeado de la caja*/
    outline: none; /*Borrador de la caja*/
    color: #222222; /*Color del texto*/
    font-family: inherit; /*Tipo de fuente*/
    font-size: 23px; /*Tamaño de la fuente*/
    background: #f9f9f9; /*Color de fondo*/
    color: rgba(0, 0, 0, 0.75); /*Color del borde*/
    padding: 3px 3px 3px 15px; /*Espacio interno del borde*/
    width: 190px; /*Ancho de la caja*/
    height: 70px; /*Alto de la caja*/
}

/*---------------------------- Grupo A ----------------------------*/

.input_grupo_a{

    appearance: none; /*Centrar el texto*/
    background-color: #222222; /*Color de fondo*/
    border: 1px solid #222222; /*Borde de la caja*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    cursor: pointer; /*Centrar el texto*/
    display: inline-block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    margin: 0 10px 10px 0; /*Espacio interno de la caja*/
    padding: 0; /*Espacio interno de la caja*/
    position: relative; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/
    translate: -5px 6px; /*Desplazar el texto*/

}

.input_grupo_a:after{

    content: "A"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px;  /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    width: 50px; /*Ancho de la caja*/

}

.input_grupo_a:checked::before{

    background-color: #83072d; /*Color de fondo*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    content: "A"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    position: absolute; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/

}

/*---------------------------- Grupo B ----------------------------*/

.input_grupo_b{

    appearance: none; /*Centrar el texto*/
    background-color: #222222; /*Color de fondo*/
    border: 1px solid #222222; /*Borde de la caja*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    cursor: pointer; /*Centrar el texto*/
    display: inline-block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    margin: 0 10px 10px 0; /*Espacio interno de la caja*/
    padding: 0; /*Espacio interno de la caja*/
    position: relative; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/
    translate: -5px 6px; /*Desplazar el texto*/

}

.input_grupo_b:after{

    content: "B"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    width: 50px; /*Ancho de la caja*/

}

.input_grupo_b:checked::before{

    background-color: #83072d; /*Color de fondo*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    content: "B"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    position: absolute; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/

}

/*---------------------------- Grupo C ----------------------------*/

.input_grupo_c{

    appearance: none; /*Centrar el texto*/
    background-color: #222222; /*Color de fondo*/
    border: 1px solid #222222; /*Borde de la caja*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    cursor: pointer; /*Centrar el texto*/
    display: inline-block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    margin: 0 10px 10px 0; /*Espacio interno de la caja*/
    padding: 0; /*Espacio interno de la caja*/ 
    position: relative; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/
    translate: -5px 6px; /*Desplazar el texto*/

}

.input_grupo_c:after{

    content: "C"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    width: 50px; /*Ancho de la caja*/

}

.input_grupo_c:checked::before{

    background-color: #83072d; /*Color de fondo*/
    border-radius: 50%; /*Borde redondeado de la caja*/
    font-size: 30px; /*Tamaño de la fuente*/
    line-height: 50px; /*Tamaño de la fuente*/
    text-align: center; /*Centrar el texto*/
    content: "C"; /*Centrar el texto*/
    color: #F9F9F9; /*Color del texto*/
    display: block; /*Centrar el texto*/
    height: 50px; /*Alto de la caja*/
    position: absolute; /*Centrar el texto*/
    width: 50px; /*Ancho de la caja*/

}

/*---------------------------- Contraseña ----------------------------*/

.cont_password{

    display: flex; /*Centrar el texto*/
    justify-content: center; /*Centrar el texto*/
    translate: -270px 104px; /*Desplazar el texto*/

}


.label_password{

    font-family: "sen"; /*Tipo de fuente*/
    text-align: center; /*Centrar el texto*/
    font-size: 20px; /*Tamaño de la fuente*/
    color: #222222; /*Color del texto*/
    translate: 135px -30px;  /*Desplazar el texto*/
    background: #f9f9f9; /*Color de fondo*/
    width: 120px; /*Ancho de la caja*/
    border-radius: 10px;
}

.input_password{

    height: 50px; /*Alto de la caja*/
    width: 240px; /*Ancho de la caja*/
    padding: 5px; /*Espacio interno de la caja*/
    border: 2px solid #222222; /*Borde de la caja*/
    border-radius: 8px; /*Borde redondeado de la caja*/
    outline: none; /*Borrador de la caja*/
    color: #222222; /*Color del texto*/
    font-family: inherit; /*Tipo de fuente*/
    font-size: 23px; /*Tamaño de la fuente*/
    background: #f9f9f9; /*Color de fondo*/
    color: rgba(0, 0, 0, 0.75); /*Color del borde*/
    padding: 3px 3px 3px 15px; /*Espacio interno del borde*/

}


/*--------------Boton Seleccionar-------------------*/

.boton_seleccionar{

    border: none;
    background: #222222;
    color: #f9f9f9;
    font-family: "sen";
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    translate: 700px -80px;
    cursor: pointer;


}

.boton_seleccionar:hover{

    background: #83072d;
    color: #f9f9f9;

}
