
.body{

    background: #f9f9f9; /* establece el color de fondo */
    margin: 0px; /* establece el margen de la página */
    height: 100%;
    padding: 0px;

}

a{

    text-decoration: none; /* elimina la línea debajo del texto */
    color: #f9f9f9; /* establece el color del texto */

}

.Menu{

    background: #83072d; /* establece el color de fondo */
    display: flex; /* muestra el elemento como en bloque */
    flex-direction: column; /* establece la disposición en columna */
    float: left; /* posiciona el elemento en la parte izquierda de la página */

    border-top-right-radius: 21px; /* esquina superior derecha redondeada */
    border-bottom-right-radius: 21px; /* esquina inferior derecha redondeada */
    border-top-left-radius: 0px; /* esquina superior izquierda cuadrada */
    border-bottom-left-radius: 0px; /* esquina inferior izquierda cuadrada */

    position: fixed; /* fija el elemento en la posición de la página */
   top: 0px; /* posicióna el elemento en la parte superior de la página */
    left: 0px; /* posiciona el elemento en el lateral izquierdo de la página */

    width: 300px; /* establece el ancho del elemento */
    height: 100vh; /* cubre todo el lateral hasta abajo de la página */

    z-index: 100; /* establece la posición del elemento en la página */

}

.btn-desplegar{

    padding-left: 235px;
    padding-bottom: 15px;
    padding-top: 20px;
    border-top-right-radius: 21px;
  
  }
  
.btn-desplegar img:hover{
  
      cursor: pointer;
  
}

.opccionesMenu{

    background: none; /* establece el color de fondo */
    padding: 20px; /* establece el relleno de los elementos de la lista */
    transition: transform .5s; /* transición suave para el efecto */

}

.opccionesMenu:hover{

    background-color: #222222; /* establece el color de fondo al pasar el cursor */
    transform: scale(1.2) translateX(32px); /* hace zoom y levanta el elemento */


}

.text-opcciones{

    color: #f9f9f9; /* establece el color del texto */
    list-style-type: none; /* quita el punto de viñeta del elemento de lista */
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */

}

.text-opcciones{

    color: #f9f9f9; /* establece el color del texto */
    list-style-type: none; /* quita el punto de viñeta del elemento de lista */
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */

}

.btn-regresar{

    display: inline-block; /* muestra el elemento como en bloque */
    width: fit-content; /* establece el ancho del elemento */
    padding: 10px; /* establece el relleno de los elementos de la lista */
    margin-left: auto; /* posiciona el elemento debajo de los elementos anteriores */
    margin-right: 20px; /* posiciona el elemento a la derecha de los elementos anteriores */
    margin-bottom: 15px; /* posiciona el elemento debajo de los elementos anteriores */
    border-radius: 10px; /* esquina redondeada */

    text-align: right; /* alinea el texto a la derecha */
    margin-top: auto; /* posiciona el texto debajo de los elementos anteriores */
    list-style-type: none; /* quita el punto de viñeta del elemento de lista */

    transition: transform 0.5s; /* transición suave para el efecto */

}

.btn-regresar:hover{

    background-color: #222222; /* establece el color de fondo al pasar el cursor */
    transform: scale(1.1) translateY(-10px); /* hace zoom y levanta el elemento */

}

.titulo{

    background-color: #222222; /* establece el color de fondo */
    margin: 0px; /* establece el relleno de los elementos de la lista */
    padding: 15px; /* establece el relleno de los elementos de la lista */
    padding-left: 300px;

}

.text-titulo{

    color: #f9f9f9; /* establece el color del texto */
    font-family: "Sen"; /* establece la fuente */
    font-size: 25px; /* establece el tamaño de la fuente */
    text-align: center; /* alinea el texto al centro */

}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #222222; /* establece el color de fondo */
    padding: 30px;
    padding-left: 200px;

}

.text-footer{
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */
    color: #f9f9f9; /* establece el color del texto */
    text-align: center; /* alinea el texto al centro */

}