/*-------------------------------- Nombre ----------------------------- */

.form_nombres input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
  
}

.form_nombres_maestros input{
    height: 56px;
    width: 340px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
  
}

/*-------------------------------- Apellidos ----------------------------- */

.form_apellido_p input, .form_apellido_p_maestros input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

.form_apellido_m input, .form_apellido_m_maestros input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

/*-------------------------------- Fecha de Nacimiento ----------------------------- */

.form_fecha_nacimiento input, .form_fecha_nacimiento_maestros input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

/*-------------------------------- Contraseña ----------------------------- */

.form_password_maestros input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;

}

.form_password input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

/*-------------------------------- Correo ----------------------------- */

.form_correo input, .form_correo_maestros input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

/*-------------------------------- Telefono ----------------------------- */

.form_telefono_maestros input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

.form_telefono input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #f9f9f9;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}