.form_alumno {

    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: inline-start;
    background: #222222;
    color: #f9f9f9;
    width: 450px;
    text-align: right;
    padding-right: 40px;
    padding-left: 50px;
    border-radius: 50px;
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */

}

.limit_alumno :hover{

    cursor: pointer;

}

.limit_alumno{

    float: left;
    margin-left: 400px;
    margin-bottom: 100px;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 0px;

}

.seleccione{

    float: left;
    margin-left: 400px;
    margin-top: 50px;

}

.text_seleccione{

    font-family: "Sen"; /* establece la fuente */
    font-size: 40px; /* establece el tamaño de la fuente */
    color: #222222; /* establece el color del texto */
    text-align: right; /* alinea el texto al centro */

}