.body{

    background: #f9f9f9; /* establece el color de fondo */
    margin: 0px; /* establece el margen de la página */
    height: 100%;
    padding: 0px;

}

/* -------------------------------- Nombre ----------------------------- */

.form_nombres_maestros{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 400px 50px;
    display: flex;
}

.form_nombres_maestros h2{
    position: absolute;
    top: 0;
    left: 10px;
    color: #000000;
    background: #F9F9F9;
    translate: 8px -12px;
    text-align: center;
    width: 92px;
}

.text_form{

    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */
    margin: 0px;
    width: 250px;

}

/* -------------------------------- Apellido Paterno ----------------------------- */

.form_apellido_p_maestros{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -70px;

}

.form_apellido_p_maestros h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: #F9F9F9;
    translate: 8px -12px;
    text-align: center;
    width: 170px;
}



/* -------------------------------- Apellido Materno ----------------------------- */

.form_apellido_m_maestros{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 400px -50px;
}

.form_apellido_m_maestros h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: #F9F9F9;
    text-align: center;
    translate: 4px -12px;
    width: 178px;
}
/* -------------------------------- Fecha de Nacimiento ----------------------------- */

.form_fecha_nacimiento_maestros{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -170px;

}


.form_fecha_nacimiento_maestros h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: #F9F9F9;
    text-align: center;
    translate: 4px -12px;
    width: 216px;
}


/* -------------------------------- Sexo ----------------------------- */

.form_sexo_maestros{
    position: relative;
    translate: 400px -150px;
    width: 250px;
}

.text_sexo{
    display: none;
}

.opc_femenino{

    appearance: none;
    background-color: #222222;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 50px;
}

.opc_masculino{

    appearance: none;
    background-color: #222222;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 50px;

}


.opc_femenino:checked::before{
    
    background-color: #83072d;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    content: "F";
    color: #F9F9F9;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;

}

.opc_masculino:checked::before{


    background-color: #83072d;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    content: "M";
    color: #F9F9F9;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;


}



/*-------------------------------- Telefono -----------------------------*/

.form_telefono_maestros{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -220px;
}

.form_telefono_maestros h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: #f9f9f9;
    translate: -8px -12px;
    text-align: center;
    width: 250px;
}



.form_telefono_maestros{   
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 400px -50px;
}

/*-------------------------------- Grupos -----------------------------*/

.form_grupos{
    translate: 400px -150px;
    width: 250px;

}

.text_grupo{

    font-family: "Sen"; /* establece la fuente */
    font-size: 30px; /* establece el tamaño de la fuente */
    margin: 0px;
    color: #f9f9f9;
    text-align: center;
    padding: 0px;

    background: transparent;
    border: none;
    width: 50px;
    height: 50px;

}

.opc_grupo_a{

    appearance: none;
    background-color: #222222;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 50px;

}


.opc_grupo_a:checked::before{

    background-color: #83072d;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    content: "A";
    color: #F9F9F9;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;

}

.opc_grupo_b{

    appearance: none;
    background-color: #222222;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 50px;

}

.opc_grupo_b:checked::before{

    background-color: #83072d;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    content: "B";
    color: #F9F9F9;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;

}

.opc_grupo_c{

    appearance: none;
    background-color: #222222;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 50px;

}

.opc_grupo_c:checked::before{

    background-color: #83072d;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    content: "C";
    color: #F9F9F9;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;

}

/*-------------------------------- Grados -----------------------------*/

.form_grados{
    position: relative;
    margin-bottom: 16px;
    translate: 400px -150px;
    width: 284px;
    height: 105px;

}

.text_grado{

    font-family: "Sen"; /* establece la fuente */
    font-size: 30px; /* establece el tamaño de la fuente */
    margin: 0px;
    color: #f9f9f9;
    padding: 0px;

    border: none;
    background: transparent;
    width: 50px;
    height: 50px;

}

.opc_grado_1{

    appearance: none;
    background-color: #222222;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 50px;

}

.opc_grado_1:checked::before{

    background-color: #83072d;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    content: "1°";
    color: #F9F9F9;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;

}

.opc_grado_2{

    appearance: none;
    background-color: #222222;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 50px;

}

.opc_grado_2:checked::before{

    background-color: #83072d;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    content: "2°";
    color: #F9F9F9;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;

}

.opc_grado_3{

    appearance: none;
    background-color: #222222;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 0;
    position: relative;
    width: 50px;

}

.opc_grado_3:checked::before{

    background-color: #83072d;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    content: "3°";
    color: #F9F9F9;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;

}

/*------------------------------ Correo -----------------------------*/

.form_correo_maestros{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -350px;
}



.form_correo_maestros h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: #F9F9F9;
    text-align: center;
    translate: 0px -12px;
    width: 76px;
}

/*------------------------------ Contraseña -----------------------------*/

.form_password_maestros{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -290px;
}



.form_password_maestros h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: #f9f9f9;
    text-align: center;
    translate: 0px -12px;
    width: 120px;
}

/*------------------------------ Guardar -----------------------------*/

.guardar_maestros{
    
    translate: 1000px -180px;
    width: 250px;

}

.btn_guardar{

    display: inline-block; /* muestra el elemento como en bloque */
    padding: 10px; /* establece el relleno de los elementos de la lista */
    border-radius: 10px; /* esquina redondeada */
    background: #222222; /* establece el color de fondo */
    transition: transform 0.5s; /* transición suave para el efecto */
    margin-top: auto; /* posiciona el texto debajo de los elementos anteriores */
    color: #f9f9f9;
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */

}

.btn_guardar:hover{

    cursor: pointer;
    background-color: #83072d; /* establece el color de fondo al pasar el cursor */
    transform: scale(1.3) ; /* hace zoom y levanta el elemento */

}