.body{

    background: #f9f9f9; /* establece el color de fondo */
    margin: 0px; /* establece el margen de la página */
    height: 100%;
    padding: 0px;

}



.Menu{

    background: #83072d; /* establece el color de fondo */
    display: flex; /* muestra el elemento como en bloque */
    flex-direction: column; /* establece la disposición en columna */
    float: left; /* posiciona el elemento en la parte izquierda de la página */

    border-top-right-radius: 21px; /* esquina superior derecha redondeada */
    border-bottom-right-radius: 21px; /* esquina inferior derecha redondeada */
    border-top-left-radius: 0px; /* esquina superior izquierda cuadrada */
    border-bottom-left-radius: 0px; /* esquina inferior izquierda cuadrada */

    position: fixed; /* fija el elemento en la posición de la página */
   top: 0px; /* posicióna el elemento en la parte superior de la página */
    left: 0px; /* posiciona el elemento en el lateral izquierdo de la página */

    width: 300px; /* establece el ancho del elemento */
    height: 100vh; /* cubre todo el lateral hasta abajo de la página */

    z-index: 100; /* establece la posición del elemento en la página */

}

.titulo{

    background-color: #222222; /* establece el color de fondo */
    margin: 0px; /* establece el relleno de los elementos de la lista */
    padding: 15px; /* establece el relleno de los elementos de la lista */
    padding-left: 300px;

}

.text-titulo{

    color: #f9f9f9; /* establece el color del texto */
    font-family: "Sen"; /* establece la fuente */
    font-size: 25px; /* establece el tamaño de la fuente */
    text-align: center; /* alinea el texto al centro */

}

.btn-desplegar{

  padding-left: 235px;
  padding-bottom: 15px;
  padding-top: 20px;
  border-top-right-radius: 21px;

}

.btn-desplegar img:hover{

    cursor: pointer;
    

}

.opccionesMenu{

    background: none; /* establece el color de fondo */
    padding: 20px; /* establece el relleno de los elementos de la lista */
    transition: transform .5s; /* transición suave para el efecto */

}

.opccionesMenu:hover{

    background-color: #222222; /* establece el color de fondo al pasar el cursor */
    transform: scale(1.2) translateX(32px); /* hace zoom y levanta el elemento */


}

.text-opcciones{

    color: #f9f9f9; /* establece el color del texto */
    list-style-type: none; /* quita el punto de viñeta del elemento de lista */
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */

}

.btn-regresar{

    display: inline-block; /* muestra el elemento como en bloque */
    width: fit-content; /* establece el ancho del elemento */
    padding: 10px; /* establece el relleno de los elementos de la lista */
    margin-left: auto; /* posiciona el elemento debajo de los elementos anteriores */
    margin-right: 20px; /* posiciona el elemento a la derecha de los elementos anteriores */
    margin-bottom: 15px; /* posiciona el elemento debajo de los elementos anteriores */
    border-radius: 10px; /* esquina redondeada */

    text-align: right; /* alinea el texto a la derecha */
    margin-top: auto; /* posiciona el texto debajo de los elementos anteriores */
    list-style-type: none; /* quita el punto de viñeta del elemento de lista */

    transition: transform 0.5s; /* transición suave para el efecto */

}

.btn-regresar:hover{

    background-color: #222222; /* establece el color de fondo al pasar el cursor */
    transform: scale(1.1) translateY(-10px); /* hace zoom y levanta el elemento */

}

.form{
    position: relative
    
}

.contenedor_form{
    position: absolute
    
}



/* -------------------------------- Nombre ----------------------------- */
.form_nombres{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 400px 50px;
    display: flex;
}

.form_nombres h2{
    position: absolute;
    top: 0;
    left: 10px;
    color: #000000;
    background: white;
    translate: 5px -11px;
    width: 90px;
}

.form_nombres input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
  
}


.text_form{

    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */
    margin: 0px;

}
/* -------------------------------- Apellido Paterno ----------------------------- */
.form_apellido_p{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -70px;

}

.form_apellido_p h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: white;
    translate: 5px -11px;
    width: 190px;
}


.form_apellido_p input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

/* -------------------------------- Apellido Materno ----------------------------- */
.form_apellido_m{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 400px -50px;
}

.form_apellido_m h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: white;
    translate: 5px -11px;
    width: 190px;
}

.form_apellido_m input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}
/* -------------------------------- Fecha de Nacimiento ----------------------------- */
.form_fecha_nacimiento{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -170px;

}


.form_fecha_nacimiento h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: white;
    translate: 5px -11px;
    width: 230px;
}

.form_fecha_nacimiento input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

/* -------------------------------- Sexo ----------------------------- */
.form_sexo{
    translate: 480px -170px;
}
/* -------------------------------- Telefono Maestros ----------------------------- */

.form_telefono{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -220px;
}

.form_telefono h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: white;
    translate: 5px 35px;
    width: 100px;
}

.form_telefono input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

.form_telefono_maestros{   
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 400px -50px;
}

.form_telefono_maestros h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: white;
    translate: 5px 40px;
    width:  90px;
}

.form_telefono_maestros input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}


.form_grados{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 450px -180px;

}

.opc_grado_1{
    background: #222222;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: transform 0.5s;
    float: inline-start;

}

.opc_grado_1:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.2)

}

.opc_grado_2{

    background: #222222;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: transform 0.5s;
    margin-left: 10px;
 float: inline-start;


}

.opc_grado_2:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.2)

}

.opc_grado_3{

    background: #222222;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: transform 0.5s;
    margin-left: 10px;
    float: inline-start;
  

}

.opc_grado_3:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.2)

}

.text_grado{

    font-family: "Sen"; /* establece la fuente */
    font-size: 30px; /* establece el tamaño de la fuente */
    margin: 0px;
    color: #f9f9f9;
    padding-top: 5px;
    padding-left: 12px;

}
/* --------------------------------- Correo -------------------------------- */
.form_correo{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -250px;
}



.form_correo h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: white;
    translate: 5px -11px;
    width: 80px;
}

.form_correo input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

.form_correo_maestros{
    
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -290px;
}



.form_correo_maestros h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: white;
    translate: 5px -10px;
    width: 80px;
}

.form_correo_maestros input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}
    

.form_grupos{
    translate: 450px -250px;

}

.opc_grupo_a{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #222222;
    transition: transform 0.5s;
    float: left;

}

.opc_grupo_a:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.2)

}

.opc_grupo_b{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #222222;
    transition: transform 0.5s;
    margin-left: 10px;
    float: left;

}

.opc_grupo_b:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.2)

}

.opc_grupo_c{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #222222;
    transition: transform 0.5s;
    margin-left: 10px;
    float: left;

}

.opc_grupo_c:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.2)

}

.text_grupo{

    font-family: "Sen"; /* establece la fuente */
    font-size: 30px; /* establece el tamaño de la fuente */
    margin: 0px;
    color: #f9f9f9;
    text-align: center;
    padding-top: 5px;

}

.opc_femenino{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #222222;
    transition: transform 0.3s;
    float: left;

}

.opc_masculino{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #222222;
    transition: transform 0.5s;
    margin-left: 10px;
    float: left;

}

.opc_masculino:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.2) /* hace zoom y levanta el elemento */

}

.opc_femenino:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.2) /* hace zoom y levanta el elemento */

}

.text_sexo{

    font-family: "Sen"; /* establece la fuente */
    margin: 0px;
    text-align: center;
    padding-top: 12px;
    color: #f9f9f9;

}

.form_password{
    position: relative;
    margin-bottom: 16px;
    width: 284px;
    height: 105px;
    translate: 800px -250px;
}



.form_password h2{
    position: absolute;
    top: 0;
    left: 20px;
    color: #000000;
    background: white;
    translate: 5px 40px;
    width: 120px;
}

.form_password input{
    height: 56px;
    width: 240px;
    padding: 10px;
    border: 2px solid #292929;
    border-radius: 8px;
    outline: none;
    color: #4b4b4b;
    font-family: inherit;
    font-size: 16px;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 30px;
}

.form_password_maestros{
        position: relative;
        margin-bottom: 16px;
        width: 284px;
        height: 105px;
        translate: 800px -240px;
    }
    
    
    
    .form_password_maestros h2{
        position: absolute;
        top: 0;
        left: 20px;
        color: #000000;
        background: white;
        translate: 5px -10px;
        width: 120px;
    }
    
    .form_password_maestros input{
        height: 56px;
        width: 240px;
        padding: 10px;
        border: 2px solid #292929;
        border-radius: 8px;
        outline: none;
        color: #4b4b4b;
        font-family: inherit;
        font-size: 16px;
        background: #ffffff;
        color: rgba(0, 0, 0, 0.75);
        padding: 10px 10px 10px 30px;

    }

.guardar{
    
    translate: 1000px -180px;    

}

.guardar_maestros{
    translate: 1000px -240px;

}

.btn_guardar{

    display: inline-block; /* muestra el elemento como en bloque */
    padding: 10px; /* establece el relleno de los elementos de la lista */
    border-radius: 10px; /* esquina redondeada */
    background: #222222; /* establece el color de fondo */
    transition: transform 0.5s; /* transición suave para el efecto */
    margin-top: auto; /* posiciona el texto debajo de los elementos anteriores */
    color: #f9f9f9;
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */

}

.btn_guardar:hover{

    cursor: pointer;
    background-color: #83072d; /* establece el color de fondo al pasar el cursor */
    transform: scale(1.3) ; /* hace zoom y levanta el elemento */

}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #222222; /* establece el color de fondo */
    padding: 30px;
    padding-left: 200px;

}

.text-footer{
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */
    color: #f9f9f9; /* establece el color del texto */
    text-align: center; /* alinea el texto al centro */

}


.opc_alumno{

    background: #222222;
    position: absolute;
    left: 35%;
    top: 250px;
    width: 300px;
    height: 50%;
    transition: transform 0.5s; /* transición suave para el efecto */


}

.opc_alumno:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.4) translateY(-10px); /* hace zoom y levanta el elemento */

}

.text_opc{

    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */
    color: #f9f9f9; /* establece el color del texto */
    text-align: center; /* alinea el texto al centro */

}

.opc_maestro{

    background: #222222;
    position: absolute;
    left: 70%;
    top: 250px;
    width: 300px;
    height: 50%;
    transition: transform 0.5s; /* transición suave para el efecto */


}

.opc_maestro:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.4) translateY(-10px); /* hace zoom y levanta el elemento */

}


.grado_3{

    background: #222222;
    position: absolute;
    left: 75%;
    top: 250px;
    width: 300px;
    height: 50%;
    transition: transform 0.5s; /* transición suave para el efecto */


}

.grado_3:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.4) translateY(-10px); /* hace zoom y levanta el elemento */

}


a{

    text-decoration: none; /* elimina la línea debajo del texto */
    color: #f9f9f9; /* establece el color del texto */

}

/*Alta Asignatura*/

.form_nombre_asignatura{


    padding-left: 400px;
    padding-top: 35px;
    padding-right: 1000px;
    float: left;

}

.text_form_nombre_asignatura{

    margin: 0px;
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */
    color: #222222; /* establece el color del texto */

}

.subtitulo_alta_asignatura{

    padding-top: 30px;
    padding-left: 400px;

}

.text_subtitulo_alta_asignatura{

    margin: 0px;
    font-family: "Sen"; /* establece la fuente */
    font-size: 40px; /* establece el tamaño de la fuente */
    color: #222222; /* establece el color del texto */

}

.form_grado{

    padding-left: 400px;
    padding-top: 35px;
    padding-right: 400px;
    float: left;


}

.text_form_grado{

    margin: 0px;
    font-family: "Sen"; /* establece la fuente */
    font-size: 20px; /* establece el tamaño de la fuente */
    color: #222222; /* establece el color del texto */

}

.subtitulo_profesor{

    padding-top: 30px;
    padding-left: 400px;
    float: left;

}

.text_subtitulo_profesor{

    margin: 0px;
    font-family: "Sen"; /* establece la fuente */
    font-size: 40px; /* establece el tamaño de la fuente */
    color: #222222; /* establece el color del texto */

}

/*Matricular Alumno*/

.text_grado_matricular{

    font-family: "Sen"; /* establece la fuente */
    font-size: 30px; /* establece el tamaño de la fuente */
    margin: 0px;
    color: #f9f9f9;
    text-align: center;

}

.opc_1{

    background: #222222;
    position: absolute;
    left: 25%;
    top: 250px;
    width: 300px;
    height: 50%;
    transition: transform 0.5s; /* transición suave para el efecto */
    font-family: "Sen"; /* establece la fuente */
    font-size: 40px; /* establece el tamaño de la fuente */
    color: #f9f9f9;
    text-align: center;

}

.opc_1:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.3) translateY(-10px); /* hace zoom y levanta el elemento */

}

.opc_2{

    background: #222222;
    position: absolute;
    left: 50%;
    top: 250px;
    width: 300px;
    height: 50%;
    transition: transform 0.5s; /* transición suave para el efecto */
    font-family: "Sen"; /* establece la fuente */
    font-size: 40px; /* establece el tamaño de la fuente */
    color: #f9f9f9;
    text-align: center;

}

.opc_2:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.3) translateY(-10px); /* hace zoom y levanta el elemento */

}


.opc_3{

    background: #222222;
    position: absolute;
    left: 75%;
    top: 250px;
    width: 300px;
    height: 50%;
    transition: transform 0.5s; /* transición suave para el efecto */
    font-family: "Sen"; /* establece la fuente */
    font-size: 40px; /* establece el tamaño de la fuente */
    color: #f9f9f9;
    text-align: center;

}

.opc_3:hover{

    cursor: pointer;
    background: #83072d;
    transform: scale(1.3) translateY(-10px); /* hace zoom y levanta el elemento */

}

.logo_fondo{

    position: absolute;
    left: 43%;
    top: 15%;
    opacity: 85%;
    z-index: -1;

}


